body, html {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	display: grid;
	grid-template-columns: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #90afc5;
}

.title {grid-area: title;}
.view_cart {grid-area: view_cart;}
.current_user {grid-area: current_user;}
.continue_shopping {grid-area: continue_shopping;}
.items_in_cart {grid-area: items_in_cart;}

.header {
	display: inline-grid;
	grid-template-areas: 
		'current_user title title title title title title title view_cart' 
		'current_user title title title title title title title continue_shopping'		
		'current_user title title title title title title title items_in_cart' ;
	width: 100%;
	
	background-color: #336b87;
	color: #ffffff;
	margin: 0em;
	padding: .5em;
	position: fixed;
	border-bottom: 2px solid #ffffff;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.current_user, .items_in_cart {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*-------------------HEADER------------------*/

form {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding-top:10%;
	width: 100%;
	margin: 0em;
		
}

form div {
	display: grid;
	grid-template-columns: auto;
	width: 20%;
	padding: 1em;
}

.enter_text {
	padding: 1em;
}

input {
	width: 100%;
	padding: 1em;
	padding-right: 0px;
	padding-left: 0px;
}

.submit {
	width: 20%;
	padding: 1em;
	color: #ffffff;
	background-color: #336b87;
	cursor: pointer;
}

.submit:hover {
	color: #ffffff;
	background-color: #90afc5;
	
}





