body, html {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	display: grid;
	grid-template-columns: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #336b87;
	color: #ffffff;
	margin: 0em;
	padding: .5em;
	
}

h2 {
	width: 100%;
	height: 100%;
	margin: 0em;
	padding-top: 10%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0em;
	padding-top: 1em;
	
}

input {
	padding: .3em;
	margin: .5em;
}

.submit {
	border: none;
	color: #ffffff;
	background-color: #336b87;
	cursor: pointer;
	width: 153px;
	padding: .3em;
}

.submit:hover {
	background-color: #90afc5;
}




